<!-- fondo 1 -->
<div>
  <section class="hero">
    <div class="welcome">
      <h1>ZOOLAND</h1>
      <p>Descubre una fauna increíble en nuestros espectaculares hábitats naturales. <br> Vive la magia de la naturaleza de cerca con más de 200 especies de todo el mundo.</p>
    </div>
  </section>
  <section class="some-animals">
    <h1>Algunos Amigos</h1>
    <table class="some-imagenes">
      <tr>
        <td><app-card/></td>
        <td><app-card/></td>
        <td><app-card/></td>
        <td><app-card/></td>
      </tr>
    </table>
  </section>


  <div class="about">h</div>

  <div class="history">
h
  </div>
</div>