.hero {
  position: relative;
  height: 100vh;
  background-image: url('https://imagine-public.x.ai/imagine-public/images/cb72e438-e977-41f3-b4cf-c91dd01636ea.png?cache=1');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 

  display: flex;
  padding: 35px;
  justify-content: center;
  padding-top: 150px;
  text-align: center;
}

/* Degradado*/
.hero::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;                  
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.8) 70%,
    white 100%
  );
  pointer-events: none;           
}

body, app-root {
  background-color: white;
}

.welcome h1{
    font-size: 100px;
}

.some-animals{
  margin-top: 100px;
  font-size: large;
  font-weight: bold;

  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.some-animals h1{
    color: #408140;
}

.some-imagenes{
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100vw;
}
.some-imagenes tr{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}