.animal-card{
    color: #408140;
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;

    border-radius: 20px;

    margin-right: 10px;

    text-align: center;
}

.animal-card img{
    width: 200px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #b4b4b4;
}

.animal-card h3, p{
    color:#408140;
}